@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


body{  
    background-image: linear-gradient(194deg, #44A08D, #093637);
}
header{
    width: 100%;
    height: 80px;
}
header img{
    height: 80%;
    padding-top: 8px;
}
header nav{
    height: 80%;
    width: 750px;
    float: right;
}
header nav ul{
    display: inline-flex;
}
header nav ul li{
    text-decoration: none;
    list-style: none;
    margin-top: 10px;
}
header nav ul li a{
    margin: 0px 40px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
#main_frame{
    width: 100%;
    height: 750px;
    margin-top: 100px;
    display: flex;
}
#main_frame .description{
    width: 40%;
    height: 100%;
}
#main_frame .product{
    width: 60%;
    height: 100%;
}
#main_frame .product h3{
    font-size: 580px;
    line-height: 0px;
    margin-top: 230px;
    color: #cecece51;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
#main_frame img{
    position: absolute;
    top: 130px;
    right: 80px;
    width: 880px;
}

