*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}*
body{
    background-color: #2D2C3C;
}
hr{
    border: 0.5px solid white;
    width: 90%;
    margin: auto;
}
#main-contain{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-contain .logo_main{
    background-color: aliceblue;
    width: 40%;
    height: 60%;
    text-align: -webkit-center;
}
#main-contain .logo_main .logo{
    padding-top: 200px;
}
#main-contain .logo_main img{
    padding-top: 50px;
    width: 70%;
}
#main-contain .record{
    background-color: rgb(71, 114, 151);
    width: 40%;
    height: 60%;
    text-align: -webkit-center;
}
#main-contain .record img{
    width: 70%;
    padding-top: 80px;
}

#music{
    width: 100%;
    height: 100vh;
}
footer{
    width: 100%;
    height: 350px;
}