*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
#main{
    width: 100%;
    height: 900px;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
}
#main #filtro{
    background-color: rgba(0, 0, 0, 0.557);
    width: 100%;
    height: 100%;
    color: white;
}
#main h1{
    padding-top: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
}
.tema{
    width: 250px;
    height: 50px;
    background-color: rgba(40, 40, 40, 0.548);
    color: aliceblue;
    font-size: 18px;
    border-radius: 20px;
}


/*clases para el modo oscuro*/

#main .filtro_light{
    background-color: rgba(241, 241, 241, 0.557) !important;
    color: rgb(24, 24, 24) !important;
}
#main .filtro_Dark{
    background-color: rgba(45, 45, 45, 0.557) !important;
}